#login {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	margin-left: -300px;
	width: 600px;
	height: 400px;
	box-shadow: 0px 0px 5px 0px #454545;
	font-family: Arial;
}

#login-header {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 500px;
	height: 30px;
	border-bottom: 1px solid black;
	font-size: 16pt;
	vertical-align: middle;
}

#login-register {
	position: absolute;
	top: 130px;
	left: 50px;
	width: 500px;
	height: 30px;
	font-size: 12pt;
}

#username-form {
	display: block;
	width: 100%;
	height: 100%;
}

#username-form form #username-error {
	position: absolute;
	top: 120px;
	left: 25px;
	font-size: 10pt;
	color: red;
}

#username-form form {
	position: absolute;
	top: 200px;
	left: 50px;
}

#username-form form input[type="text"] {
	padding: 10px 20px;
	width: 380px;
	border: 1px solid #454545;
	margin-bottom: 5px;
}

#username-form form input[type="password"] {
	padding: 10px 20px;
	width: 380px;
	border: 1px solid #454545;
}

#username-form form input[type="checkbox"] {
	position: absolute;
	left: -9999px;
}

#username-form form label {
	display: block;
	position: relative;
	padding: 12px 16px 0px 25px;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	transition: background-color .2s, box-shadow .2s;
	font-size: 10pt;
}

#username-form form label::before {
	content: '';
	display: block;
	position: absolute;
	top: 12px;
	left: 5px;
	width: 12px;
	height: 12px;
	border: 1px solid #454545;
	border-radius: 50%;
	transition: background-color .2s;
}

#username-form form input[type="checkbox"]:checked+label::before {
	background-color: #454545;
}

#submit-username {
	padding: 10px 20px;
	width: 120px;
	background-color: #5f7bde;
	border: 1px solid #454545;
	color: white;
}

#submit-username:hover {
	cursor: pointer;
}

#submit-username.disabled {
	background-color: #ccc;
	border: 1px solid #454545;
	color: black;
	cursor: wait;
}