html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: "Calibri";
}

header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #bbbbbb;
	background-color: #205E9B;
	color: white;
}

header img {
	position: absolute;
	top: 19px;
	left: 19px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

header span {
	position: absolute;
	top: 26px;
	left: 65px;
}

#dashboard-ribbon {
	position: absolute;
	top: 69px;
}

#org {
	position: absolute;
	top: 205px;
	width: calc(100% - 40px);
	padding: 20px;
	border-top: 1px solid #ccc;
	display: block;
}

#org-main {
	position: absolute;
	top: 20px;
	left: 0px;
	width: calc(65% - 30px);
	height: 200px;
	padding: 10px;
	border: 1px solid #ccc;
	border-left: 0px solid #ccc;
	display: block;
}

#org-main > span {
	position: absolute;
	top: 10px;
	width: calc(100% - 20px);
	text-align: center;
	font-size: 10pt;
}

#org-id-field {
	left: calc((100% - 1000px) / 5);
	top: 40px;
}

#org-code-field {
	left: calc(250px + 2 * (100% - 1000px) / 5);
	top: 40px;
}

#org-domain-field {
	left: calc(500px + 3 * (100% - 1000px) / 5);
	top: 40px;
}

#org-name-field {
	left: calc(750px + 4 * (100% - 1000px) / 5);
	top: 40px;
}

#org-date-field {
	left: calc((100% - 1000px) / 5);
	top: 130px;
}

#org-description-field {
	left: calc(250px + 2 * (100% - 1000px) / 5);
	top: 130px;
}

#org-certificate-field {
	left: calc(750px + 4 * (100% - 1000px) / 5);
	top: 152px;
}

#org-federation-field {
	left: calc(900px + 4 * (100% - 1000px) / 5);
	top: 152px;
}

#org-roles {
	position: absolute;
	top: 260px;
	left: calc(35% + 10px);
	width: calc(30% - 40px);
	height: 200px;
	padding: 10px;
	border: 1px solid #ccc;
	display: block;
}

#org-roles > span {
	position: absolute;
	top: 10px;
	width: calc(100% - 20px);
	text-align: center;
	font-size: 10pt;
}

#org-roles-table-container {
	margin-top: 30px;
	width: 100%;
	display: inline-block;
}
#org-roles-table {
	width: 100%;
}

#org-claims {
	position: absolute;
	top: 20px;
	right: 0px;
	width: calc(35% - 30px);
	height: 440px;
	padding: 10px;
	border: 1px solid #ccc;
	border-right: 0px solid #ccc;
	display: block;
}

#org-claims > span {
	position: absolute;
	top: 10px;
	width: calc(100% - 20px);
	text-align: center;
	font-size: 10pt;
}

#org-claims-table-container {
	margin-top: 30px;
	width: 100%;
	display: inline-block;
}
#org-claims-table {
	width: 100%;
}

#slide-org-id-field {
	top: 20px;
	left: 20px;
}
#slide-org-code-field {
	top: 100px;
	left: 20px;
}
#slide-org-domain-field {
	top: 180px;
	left: 20px;
}
#slide-org-name-field {
	top: 260px;
	left: 20px;
}
#slide-org-date-field {
	top: 340px;
	left: 20px;
}
#slide-org-description-field {
	top: 420px;
	left: 20px;
}
#slide-org-federation-field {
	top: 500px;
	left: 20px;
}
#slide-org-save-btn {
	position: absolute;
	top: 590px;
	left: 20px;
}
#slide-org-cancel-btn {
	position: absolute;
	top: 590px;
	left: 100px;
}

#users {
	position: absolute;
	top: 205px;
	width: calc(100% - 40px);
	padding: 20px;
	border-top: 1px solid #ccc;
	display: none;
}

#user-main {
	position: absolute;
	top: 20px;
	left: 0px;
	width: calc(50% - 30px);
	padding: 10px;
	border: 1px solid #ccc;
	border-left: 0px solid #ccc;
	display: block;
}

#user-main span {
	position: absolute;
	top: 10px;
	width: calc(100% - 20px);
	text-align: center;
	font-size: 10pt;
}

#users-table-container {
	margin-top: 30px;
	width: 100%;
	display: inline-block;
}
#users-table {
	width: 100%;
}

#user-claims {
	position: absolute;
	top: 20px;
	right: 0px;
	width: calc(50% - 30px);
	padding: 10px;
	border: 1px solid #ccc;
	border-right: 0px solid #ccc;
	display: block;
}

#user-claims span {
	position: absolute;
	top: 10px;
	width: calc(100% - 20px);
	text-align: center;
	font-size: 10pt;
}

#user-claims-table-container {
	margin-top: 30px;
	width: 100%;
	display: inline-block;
}
#user-claims-table {
	width: 100%;
}

#slide-user-id-field {
	top: 20px;
	left: 20px;
}
#slide-user-username-field {
	top: 100px;
	left: 20px;
}
#slide-user-admin-field {
	top: 180px;
	left: 20px;
}
#slide-user-save-btn, #slide-user-update-btn {
	position: absolute;
	top: 270px;
	left: 20px;
}
#slide-user-cancel-btn {
	position: absolute;
	top: 270px;
	left: 100px;
}

#apps {
	position: absolute;
	top: 205px;
	width: calc(100% - 40px);
	padding: 20px;
	border-top: 1px solid #ccc;
	display: none;
}

#app-main {
	position: absolute;
	top: 20px;
	left: 0px;
	width: calc(50% - 30px);
	padding: 10px;
	border: 1px solid #ccc;
	border-left: 0px solid #ccc;
	display: block;
}

#app-main span {
	position: absolute;
	top: 10px;
	width: calc(100% - 20px);
	text-align: center;
	font-size: 10pt;
}

#apps-table-container {
	margin-top: 30px;
	width: 100%;
	display: inline-block;
}
#apps-table {
	width: 100%;
}

#app-users {
	position: absolute;
	top: 20px;
	right: 0px;
	width: calc(50% - 30px);
	height: 360px;
	padding: 10px;
	border: 1px solid #ccc;
	border-right: 0px solid #ccc;
	display: block;
}

#app-users span {
	position: absolute;
	top: 10px;
	width: calc(100% - 20px);
	text-align: center;
	font-size: 10pt;
}

#app-users-table-container {
	margin-top: 30px;
	width: 100%;
	display: inline-block;
}
#app-users-table {
	width: 100%;
}

#app-claims {
	position: absolute;
	top: 420px;
	height: 315px;
	right: 0px;
	width: calc(50% - 30px);
	padding: 10px;
	border: 1px solid #ccc;
	border-right: 0px solid #ccc;
	display: block;
}

#app-claims span {
	position: absolute;
	top: 10px;
	width: calc(100% - 20px);
	text-align: center;
	font-size: 10pt;
}

#app-claims-table-container {
	margin-top: 30px;
	width: 100%;
	display: inline-block;
}
#app-claims-table {
	width: 100%;
}

#slide-app-id-field {
	top: 20px;
	left: 20px;
}
#slide-app-urn-field {
	top: 100px;
	left: 20px;
}
#slide-app-name-field {
	top: 180px;
	left: 20px;
}
#slide-app-description-field {
	top: 260px;
	left: 20px;
}
#slide-app-acs-field {
	top: 340px;
	left: 20px;
}
#slide-app-logout-field {
	top: 420px;
	left: 20px;
}
#slide-app-save-btn, #slide-app-update-btn {
	position: absolute;
	top: 510px;
	left: 20px;
}
#slide-app-cancel-btn {
	position: absolute;
	top: 510px;
	left: 100px;
}

#slide-access-id-field {
	top: 20px;
	left: 20px;
}
#slide-access-urn-field {
	top: 100px;
	left: 20px;
}
#slide-access-user-field {
	top: 180px;
	left: 20px;
}
#slide-access-role-field {
	top: 260px;
	left: 20px;
}
#slide-access-save-btn {
	position: absolute;
	top: 510px;
	left: 20px;
}
#slide-access-cancel-btn {
	position: absolute;
	top: 510px;
	left: 100px;
}