<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<bean id="filterChainProxy" class="org.springframework.security.web.FilterChainProxy">
		<constructor-arg>
			<list>
				<!-- Pictures, Styles and Scripts -->
				<security:filter-chain pattern="/img/**" filters="none" />
				<security:filter-chain pattern="/script/**" filters="none" />
				<security:filter-chain pattern="/style/**" filters="none" />
				
				<!-- Simple pages -->
				<security:filter-chain pattern="/" filters="none" />
				<security:filter-chain pattern="/metadata" filters="none" />
				<security:filter-chain pattern="/activate" filters="none" />
				<security:filter-chain pattern="/register" filters="none" />
				
				<!-- Security -->
				<security:filter-chain pattern="/**" filters="
					securityContextPersistenceFilter,
					getSingleSignOnFilter,
					postSingleSignOnFilter,
					soapSingleSignOnFilter,
					loginAuthenticateFilter,
					startAuthenticateFilter,
					finishAuthenticateFilter,
					authenticationHandlerFilter,
					exceptionTranslationFilter,
					filterSecurityInterceptor" />
			</list>
		</constructor-arg>
	</bean>

	<bean id="securityContextPersistenceFilter" class="org.springframework.security.web.context.SecurityContextPersistenceFilter" />
	
	<bean id="ssoHttpStages" class="com.tazouxme.idp.security.stage.chain.StageChain">
		<property name="stages">
			<list>
				<bean class="com.tazouxme.idp.security.stage.http.ValidateRequestParametersStage" />
				<bean class="com.tazouxme.idp.security.stage.http.ValidateRequestValuesStage" />
				<bean class="com.tazouxme.idp.security.stage.http.ValidateRequestURLStage" />
				<bean class="com.tazouxme.idp.security.stage.http.ValidateCookiesStage" />
				<bean class="com.tazouxme.idp.security.stage.http.ValidateSignaturesStage" />
				<bean class="com.tazouxme.idp.security.stage.http.ValidateOrganizationAccessStage" />
				<bean class="com.tazouxme.idp.security.stage.http.ValidateUserAccessStage" />
			</list>
		</property>
	</bean>
	
	<bean id="ssoSoapStages" class="com.tazouxme.idp.security.stage.chain.StageChain">
		<property name="stages">
			<list>
				<bean class="com.tazouxme.idp.security.stage.soap.ValidateRequestParametersStage" />
				<bean class="com.tazouxme.idp.security.stage.soap.ValidateRequestValuesStage" />
				<bean class="com.tazouxme.idp.security.stage.soap.ValidateCookiesStage" />
				<bean class="com.tazouxme.idp.security.stage.soap.ValidateSignaturesStage" />
				<bean class="com.tazouxme.idp.security.stage.soap.ValidateOrganizationAccessStage" />
				<bean class="com.tazouxme.idp.security.stage.soap.ValidateUserAccessStage" />
			</list>
		</property>
	</bean>
	
	<bean id="getSingleSignOnFilter" class="com.tazouxme.idp.security.filter.sso.http.GetSingleSignOnFilter">
		<property name="stages" ref="ssoHttpStages" />
	</bean>
	<bean id="postSingleSignOnFilter" class="com.tazouxme.idp.security.filter.sso.http.PostSingleSignOnFilter">
		<property name="stages" ref="ssoHttpStages" />
	</bean>
	<bean id="soapSingleSignOnFilter" class="com.tazouxme.idp.security.filter.sso.soap.SoapSingleSignOnFilter">
		<property name="stages" ref="ssoSoapStages" />
	</bean>
	<bean id="loginAuthenticateFilter" class="com.tazouxme.idp.security.filter.login.LoginAuthenticationFilter" />
	<bean id="startAuthenticateFilter" class="com.tazouxme.idp.security.filter.login.StartAuthenticateFilter" />
	<bean id="finishAuthenticateFilter" class="com.tazouxme.idp.security.filter.login.FinishAuthenticateFilter">
		<property name="authenticationManager" ref="authenticationManager" />
	</bean>
	<bean id="authenticationHandlerFilter" class="com.tazouxme.idp.security.filter.AuthenticationHandlerFilter" />
	
	<bean id="exceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
		<constructor-arg index="0">
			<bean class="com.tazouxme.idp.security.IdentityProviderAuthenticationEntryPoint" />
		</constructor-arg>
	</bean>
	
	<bean id="filterSecurityInterceptor" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<property name="accessDecisionManager" ref="accessDecisionManager" />
		<property name="securityMetadataSource">
			<security:filter-security-metadata-source>
				<security:intercept-url pattern="/dashboard" access="hasRole('ROLE_ADMIN')" />
				<security:intercept-url pattern="/lib/**" access="hasRole('ROLE_ADMIN')" />
				<security:intercept-url pattern="/api/**" access="hasRole('ROLE_ADMIN')" />
				<security:intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
			</security:filter-security-metadata-source>
		</property>
	</bean>
	
	<bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
		<constructor-arg>
			<list>
				<bean class="org.springframework.security.access.vote.RoleVoter">
					<property name="rolePrefix" value="ROLE_" />
				</bean>
				<bean class="org.springframework.security.access.vote.AuthenticatedVoter" />
				<bean class="org.springframework.security.web.access.expression.WebExpressionVoter" />
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="authenticateProvider" class="com.tazouxme.idp.security.provider.AuthenticateProvider" />
	
	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider ref="authenticateProvider" />
	</security:authentication-manager>
	
</beans>